[submodule "themes/resume-a4"]
	path = themes/resume-a4
	url = https://gitlab.com/mertbakir/resume-a4.git
[submodule "themes/hugo-devresume-theme"]
	path = themes/hugo-devresume-theme
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme.git
